@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-screen overflow-x-hidden bg-background;
  }
  header {
    @apply fixed top-0 pt-2 flex w-screen z-50 bg-gradient-to-b from-background via-background to-transparent;
  }
  nav {
    @apply layout flex justify-between items-center layout rounded-t-2xl rounded-b;
  }
  main {
    @apply layout min-h-screen p-0 prose py-24;
  }
  section {
    @apply layout flex-col justify-center items-center;
  }
  footer {
    @apply fixed bottom-0 pb-4 flex flex-col items-center justify-center w-screen bg-gradient-to-b from-transparent via-background to-background;
  }
  hr {
    @apply border-[1px] border-primary rounded-full mb-2 mt-2;
  }
}

@layer components {
  .site-padding {
    @apply p-2 px-4;
  }
  .gap-sm {
    @apply gap-4;
  }
  .gap-lg {
    @apply gap-5;
  }
  .layout {
    @apply flex w-full max-w-screen-lg mx-auto site-padding;
  }
  .logo {
    @apply w-16 h-16 bg-primary hover:bg-secondary rounded-full trans drop-shadow-3xl;
  }
  .logo svg {
    @apply text-nav p-2 trans;
  }
  .menu-btn {
    @apply bg-primary hover:bg-secondary h-fit font-body font-bold uppercase text-nav text-lg px-3.5 py-0.5 rounded-full trans drop-shadow-3xl;
  }
  .sosmed {
    @apply pb-3 flex items-center justify-center gap-sm w-screen bg-gradient-to-b from-transparent via-background to-background;
  }
  .icon {
    @apply h-full w-7 m-auto;
  }
  .menu-item {
    @apply ml-4 md:ml-11;
  }
  .prose {
    @apply font-body text-text prose-sm md:prose-base prose-headings:mt-0 prose-headings:text-primary prose-headings:font-black prose-headings:uppercase 
    prose-p:mb-0.5 prose-p:leading-normal
    prose-h2:mt-0  prose-h2:mb-3 
    prose-h4:text-lg prose-h4:mb-0 prose-h4:leading-tight  
    prose-h5:mb-3 prose-h5:font-semibold;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #0a0b0b;
}

/* Page Transittion */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
